<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <add name="UriCacheModule" />
            <add name="FileCacheModule" />
            <add name="TokenCacheModule" />
            <add name="TracingModule" />
            <add name="RequestMonitorModule" />
            <add name="ManagedEngine64" preCondition="integratedMode,runtimeVersionv2.0,bitness64" />
            <add name="ManagedEngine" preCondition="integratedMode,runtimeVersionv2.0,bitness32" />
            <add name="ManagedEngineV4.0_32bit" preCondition="integratedMode,runtimeVersionv4.0,bitness32" />
            <add name="ManagedEngineV4.0_64bit" preCondition="integratedMode,runtimeVersionv4.0,bitness64" />
        </modules>
        <handlers>
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="cshtml-ISAPI-4.0_64bit" />
            <remove name="cshtml-ISAPI-4.0_32bit" />
            <remove name="cshtml-Integrated-4.0" />
            <remove name="cshtm-ISAPI-4.0_64bit" />
            <remove name="cshtm-ISAPI-4.0_32bit" />
            <remove name="cshtm-Integrated-4.0" />
            <remove name="AXD-ISAPI-4.0_64bit" />
            <remove name="AXD-ISAPI-4.0_32bit" />
            <remove name="AXD-ISAPI-2.0-64" />
            <remove name="AXD-ISAPI-2.0" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="AssemblyResourceLoader-Integrated-4.0" />
            <remove name="AssemblyResourceLoader-Integrated" />
            <remove name="aspq-ISAPI-4.0_64bit" />
            <remove name="aspq-ISAPI-4.0_32bit" />
            <remove name="aspq-Integrated-4.0" />
            <remove name="ASPClassic" />
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP8.1\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
